<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BUNDLE_ID</key>
	<string>com.embarquetenares.TenaresShipping</string>
	<key>CFBundleIdentifier</key>
	<string>com.embarquetenares.TenaresShipping</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>maps</string>
	</array>
	<key>UILaunchScreens</key>
	<dict>
		<key>UIDefaultLaunchScreen</key>
		<string></string>
		<key>UILaunchScreenDefinitions</key>
		<array>
			<dict>
				<key>UIImageName</key>
				<string></string>
				<key>UILaunchScreenIdentifier</key>
				<string></string>
			</dict>
		</array>
		<key>UIURLToLaunchScreenAssociations</key>
		<dict/>
	</dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
